body{
    font-family: Arial, Helvetica, sans-serif;
}
h1.title{
    text-align: center;
}

h2{
    text-align: center;
}
p.p1{
    padding-left: 480px;
}
p.link{
    text-align: center;
    padding-top: 50px;
}

ul{
    padding-left: 500px;
    opacity: 1;

}

div.bloc{
    
    background: rgb(254, 240, 245) none;
    border: 2px solid#f172b0;
    width: 60%;
    height: 60%;


}

